body {
    font-family: Arial, Helvetica, sans-serif;
}

.flight_index_form_bg   {
    background-image: url('beach.jpg');
    background-position: -200px -1050px;
    height:700px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.flight_index_form_container {
        background-color: #111236cf;
        height:170px;
        width:1000px;   
        padding:1.5rem;
        margin-left:clamp(0px, 100px, -100px);
        border-radius:5px;
        
}

.flight_index_form_container > p {
    color:white;
    margin-left:-2px;
}

.flight_index_form_container > form > p {
    color:white;
    margin-top:-6px;
}



.flight_index_quote {
    color:rgb(59, 66, 144);
    position:absolute;
    margin-top:-300px;
    margin-left:-500px;
    font-size:3em;
    font-weight: 900;
}

.flight_form_container {
    display:flex;
    gap:1px;
    margin-top:-40px;
    justify-content: center;
    height:100px;
    margin-bottom:10px;
}

.flight_form.one_way  {

    height:50px;
    width:100px;
    font-size:1.7em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
    font-weight:200;
    margin-left:-13px;
    margin-bottom:10px;



}

.flight_form.one_way >label  {

    margin-left:-7px;
}

.flight_form > label {
    color:white;
    font-size:0.5em;
    font-weight:700;
    margin-bottom:3px;
}

.flight_form > select {
    height:30px;
    width:300px;
}

.flight_form.passengers > select {
    width:100px;
}



.flight_form {
    display:flex;
    flex-direction: column;
    align-self: center;
}

.flight_search > input[type=submit] {
    background-color: #00a698;
    color:white;
    font-weight:700;
    font-size:1.4rem;
    border-radius: 5px;
    padding:10px;
    height:50px;
    width:220px;

}

.flight_search > input[type=submit]:hover {
    background-color: #019084;
    color:white;
    font-weight:700;
    font-size:1.4rem;
    border-radius: 5px;
    padding:10px;
    height:50px;

}

.flight_search {
    margin-left:-240px;
    margin-top:100px;
}

.flight_form.direct_flights {
    height:60px;
    width:180px;
    display:flex;
    justify-content: center;
    
    
}

.flight_form_container.results{
    background-color:#dee3ed; 
    margin-top:30px;
    height:1000px;
    width:1000px;

}

.flight{
    height:100px;
    width:900px;
    background-color: white;
    margin-top:50px;
    padding:30px;
    border-radius: 25px;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px 160px 250px 160px 160px;

}

 .direct_flights {
    color:white;
    font-weight: 600;
    font-size:13px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:-20px;
    gap:23px;
    align-self:flex-start;
} 

.flight_index_form_bg.results   {
    background-image:none;
    height:200px;
    background-color:#dee3ed;
}

.flight_index_form_container.results {
    height:90px;
    margin-bottom:100px;
    margin-top:100px;
}

.flight_form_container.results {
    height:120px;
    width:1000px;
    background:none;
    margin-top:-40px;
}

body > div.flight_index_form_bg.results > div > form > div.flight_search.results > input[type=submit] {
    /* margin-top:-100px; */
}

.flight_search.results{
    height:20px;
    width:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:-20px;
    margin-left:694px;
}

.flight_results_container {
    background-color:#dee3ed;
    margin-top:-30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:1000px;
}


.plane > img {
    height:17px;
    margin-left:-130px;
}

.line > svg {
    height:20px;
    width:500px;
    margin-top:20px;
    
}

.middle {
    height:100px;
    width:250px;
    /* background-color: red; */
    margin-bottom:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.departure_time, .arrival_time {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100px;
}

.flight_logo {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
}

.plane_and_line {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    height:15px;
    width:300px;
    /* margin-left:-100px; */

}

.direct {
    color:rgb(7, 255, 7)
}

.departure_time, .arrival_time {
    font-size:2rem;
}

.flight_logo >img  {
    height:100px;
}

.departure_airport_code, .arrival_airport_code{
    font-size:1.4rem;
    font-weight:0;
    color:rgb(106, 106, 106);
}

.flight_radio_button {
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;

}

.price {
    font-size:1.7rem;
}

.selection {
    display:flex;
    flex-direction: column;
    height:100px;
    width:100px;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.flight_next >input{
    background-color: #00a698;
    color:white;
    padding:5px;
    width:80px;
    height:40px;
    border-radius:10px;
    margin-top:30px;

}

.flight_next > input:hover{
    background-color: #019084;

}

