<div class = "website_header">

    <div class="header_logo">
        <%=link_to "OniFlights", flights_path %> 
    </div>    
    <div class="header_link home"> <%=link_to "Home", flights_path %> </div>
    <div class="header_link about"> About Us</div>
    <div class="header_link contact"> Contact </div>


</div>